body {
    background-color: #eaecef;
}
#ChatBlock {
    overflow: hidden;
    width: 75%;
    height: 500px;
    border: 1px solid black;
    background-color: #ffffff;
    overflow-x: hidden;
    font-size: 20px;
    padding-left: 15px;
    font-family: Century Gothic;


}

#message {
    width: 50%;
    height: 100px;
    border: 1px solid #bbd2f7;
    font-size:20px;

}
#send {
    background-color: #c4ebff;
    border: 0px;
    font-size: 20px;
    height: 30px;
    width: 150px;
    cursor:pointer;
}



