
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>

    <link rel="stylesheet" type="text/css" href="~/Content/css/sweetalert.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/login.css" />
    <script src="~/Scripts/Others/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/Others/jquery.unobtrusive-ajax.min.js"></script>

</head>
<body>
    <div> 
        @using (Html.BeginForm("ForgotPassword", "Home",FormMethod.Post))
        {
            <label>Введите ваш email:</label><br /><br />
            <input class="Enterence" id="email" name="email" type="text" /><br /><br />
            <input class="submit" type="submit" value="Восстановить" />

        }
        
    </div>
</body>
</html>
