
@using (Html.BeginForm("RegisterForm", "Home", FormMethod.Post))
{
    <p>
        <label>Никнейм: </label>
        <br />
       <input type="text" name="nickname" required/>
    </p>
    <p>
        <label>Email:</label>
        <br />
        <input type="text" name="email" required/>
    </p>
    <p>
        <label>Пароль: </label>
        <br />
        <input type="text" name="password" required/>
    </p>
    <br/>
    <input type="submit" value="Отправить" required/>
}


   



