
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Room</title>

    <link href="~/Content/css/ChatRoom.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="~/Content/css/sweetalert.css" />

    <script src="~/Scripts/Others/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/Others/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/Others/sweetalert.min.js"></script>
    <script src="~/Scripts/Others/sweetalert-dev.js"></script>
    <script src="~/Scripts/ChatRoomScript.js"></script>

</head>
<body>
    <div> 
        <div id="ChatRoom">
            <div id="ChatBlock">
                @foreach(var b in ViewBag.lines)
                {
                    <p>@b</p>
                }
            </div>
            
        </div>
        <br />
        @using (Ajax.BeginForm("Room","Chat", new AjaxOptions {  OnSuccess = "OnSuccess"}))
        {

            <textarea id="message" type="text" name="message" required></textarea>
            <input id="send" type="submit" value="Отправить" name="send" />
        }
        
    </div>
    <p>Сейчас в онлайне:</p>
     <p>@ViewBag.cookie</p>
    
</body>
</html>
