
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Room</title>

    <link href="~/Content/css/ChatRoom.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="~/Content/css/sweetalert.css" />

    <script src="~/Scripts/Others/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/Others/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/Others/sweetalert.min.js"></script>
    <script src="~/Scripts/Others/sweetalert-dev.js"></script>
    <script src="~/Scripts/ChatRoomScript.js"></script>

</head>
<body>
    <script type="text/javascript" >
        $(document).ready(function(){
            ShowText();
            setInterval('ShowText()', 10);
        });
        function ShowText()
        {
             $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: 'application/JSON',
                url: '@Url.Action("ResultOfText", "Chat")',
                success: function (data)
                {
                    var JsonText = $.parseJSON(data);
                    var TextStr = "";
                    for (var b in JsonText) {

                        TextStr += b;
                        if (b == "\r") {
                            $("#ChatBlock").html(TextStr);
                            TextStr = "";
                        }
                       
                    }
                    

                }


            });
        }
    </script>

    <div> 
        <div id="ChatRoom">
            <div id="ChatBlock">



            </div>
            
        </div>
        <br />
        @using (Ajax.BeginForm("Room","Chat", FormMethod.Post,new AjaxOptions {  OnSuccess = "OnSuccess"}, new { id="MessageForm", onsubmit= "return ValidMessage()" } ))
        {

            <textarea id="message" maxlength="86" type="text" name="message" required></textarea><br/>
            <input id="send" type="submit" value="Отправить" name="send" onsubmit="" />
        }
        
    </div>
    
    
    <script type="text/javascript">
        alert("Введите сообщение");
    </script>
</body>
</html>
